{{ if or (not (isset .Site.Params "command" )) .Site.Params.command }}
<script type="module" src="https://unpkg.com/ninja-keys?module"></script>
<link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">

<ninja-keys placeholder="Type a command">
    <slot name="footer"></slot>
</ninja-keys>

{{ $list_sections := slice }}
{{ range (where $.Site.RegularPages.ByTitle "Section" $.Site.Params.projects.section ) }}
{{ if .Params.sections }}
{{ range .Params.sections }}
    {{ $list_sections = $list_sections | append . }}
{{ end }}
{{ end }}
{{ end }}

{{/*  <button onclick="window.dispatchEvent(new KeyboardEvent('keydown', {key: 'k', metaKey: true}))">Press to dispatch event </button>  */}}

<script>
    const hotkeys = [
        {
            id: "Home",
            title: "Go to Home",
            hotkey: "cmd+h",
            mdIcon: "home",
            handler: () => {
                console.log("navigation to home");
                window.open("{{ print $.Site.BaseURL }}", "_self")
            }
        },
        {
            id: "Graph",
            title: "View Graph",
            hotkey: "cmd+g",
            mdIcon: "blur_circular",
            handler: () => {
                console.log("navigation to home");
                window.open("{{ print $.Site.BaseURL }}/graph", "_self")
            }
        },
        {
            id: "All Notebooks",
            title: "All Notebooks",
            mdIcon: "book",
            handler: () => {
                window.open("{{ $.Site.BaseURL }}/{{ $.Site.Params.projects.section }}", "_self")
            }
        },
        {
            id: "Search by Title",
            title: "Search by Title",
            mdIcon: "search",
            children: [
                {{ range $.Site.RegularPages }}
                    {
                        id: 'search-{{ .Page.Title }}',
                        title: '{{ .Page.Title }}',
                        handler: () => {
                            window.open("{{ .Page.Permalink }}", "_self")
                        }
                    },
                {{ end }}
            ]
        },
    ];
    const ninja = document.querySelector("ninja-keys");
    ninja.data = hotkeys;
</script>
{{ end }}