{{ define "title"}} {{ .Title }} {{ end }}

{{ define "style"}}
<link rel="stylesheet" href="/css/blog-post.css">
<link rel="stylesheet" href="/css/code-highlighting/dark.css">
<link rel="stylesheet" href="/css/custom.css">

<link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">

{{ end }}

{{ define "header"}} {{ partial "menu" .}}

<header class="post-header">

    <div class="hero">
        <div class="hero-body">
            <div class="container">
                {{ partial "breadcrumb" . }}
                <div class="container has-text-centered">
                    {{ partial "profile/title" . }}
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ define "main" }}

<div class="container" itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-8">
                    <div class="is-divider" data-content="INTRODUCTION"></div>

                    <div class="content blog-post section" itemprop="articleBody">
                        {{.Content}}
                    </div>

                    {{ if .Params.sections }}
                    <div class="is-divider" data-content="PAGES"></div>
                    {{ partial "list/tree" . }}
                    {{ end }}

                    <!-- <p>{{ partial "post/meta" . }}</p> -->
                    <!-- {{ partial "post/byauthor" . }} -->


                </div>
                <div class="column is-4">

                    {{ if .Params.sections }}
                    <div class="is-divider" data-content="NOTES"></div>


                    <div class="box is-size-7">
                        <article class="media">
                            <div class="media-left is-vcentered" style="vertical-align: middle;">
                                <i class="fas fa-feather fa-2x has-text-primary" style="margin-right: 0.5em;"></i>
                              </div>
                            <div class="media-content">
                                <div class="content">
                                    {{ range $note := .Params.sections }}
                                    {{ $note := $.GetPage (printf "/%s" .) }}
                                    <p>
                                           <a href="{{ $note.Permalink }}" class="button is-primary is-outlined is-bold has-text-weight-bold is-small"> {{ $note.Title }} </a>
                                        </p>
                                    {{end}}
                                </div>
                            </div>
                        </article>
                    </div>
                    {{ end }}

                    {{ if .Params.author }}
                    <div class="is-divider" data-content="AUTHORS"></div>
                    {{ $author := .Params.author }}
                    <div class="box is-size-7">
                        <article class="media">
                            <div class="media-left is-vcentered" style="vertical-align: middle;">
                                <i class="fas fa-at fa-2x has-text-primary" style="margin-right: 0.5em;"></i>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    {{ range $author := .Params.author }}
                                    <p>
                                           <a href="{{ $author.link }}" class="button is-primary is-outlined is-bold has-text-weight-bold is-small"> {{ $author.name }} </a>
                                        </p>
                                    {{end}}
                                </div>
                            </div>
                        </article>
                    </div>
                    {{end}}

                    {{ if .Params.coordinators }}
                    <div class="is-divider" data-content="MEMBERS"></div>


                    <div class="box is-size-7">
                        <article class="media">
                            <div class="media-left is-vcentered" style="vertical-align: middle;">
                                <i class="fas fa-user-secret fa-2x has-text-primary" style="margin-right: 0.5em;"></i>
                              </div>
                            <div class="media-content">
                                <div class="content">
                                    {{ range $coordinator := .Params.coordinators }}
                                    <p> <a
                                           href="{{ $coordinator.link }}" class="button is-info is-outlined is-bold has-text-weight-bold is-small">{{ $coordinator.name }}</a> </p>
                                    {{end}}
                                </div>
                            </div>
                        </article>
                    </div>
                    {{ end }}

                    {{ if .Params.members }}
                    <div class="is-divider" data-content="MEMBERS"></div>

                    <div class="box is-size-7">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    {{ range $member := .Params.members }}

                                    <p><i class="fas fa-user-ninja" style="margin-right: 0.5em;"></i> <a
                                           href="{{ $member.link }}" class="tag is-info is-light is-bold has-text-weight-bold">{{ $member.name }}</a> </p>
                                    {{end}}
                                </div>
                            </div>
                        </article>
                    </div>
                    {{ end }}

                    {{ if .Params.references }}
                    <div class="is-divider" data-content="REFERENCES"></div>
                    <article class="message">
                        <div class="message-header">
                            <p>References:</p>
                        </div>
                        <div class="message-body">
                            <ol>
                                {{ range $ref := .Params.references }}
                                <li>{{ if $ref.key }}
                                    <a name="{{ $ref.key }}" href="#{{ $ref.key }}" style="text-decoration:none;">
                                      <span class="tag is-link is-light">{{$ref.key}}</span>
                                    </a>
                                    {{ end }}<a href="{{ $ref.link }}" style="text-decoration:none;">{{ $ref.name }}</a></li>
                                {{ end }}
                            </ol>
                        </div>
                    </article>
                    {{ end }}

                    {{ partial "utterances-comments.html" . }}
                </div>

            </div>
        </div>
    </section>
</div>

{{ partial "nav-buttons.html" . }}

{{ end }}

{{ define "footer"}}
{{ partial "footer.html" .}}


<script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
{{ end }}