<!-- Hero content: will be in the middle -->
</section>
<div class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column">
                    <img src="{{ site.Params.splash }}">
                </div>
                <div class="column is-three-fifths">
                    <h1 class="title is-2 is-spaced" style="text-transform: none;">
                        {{ site.Title }}
                    </h1>

                    <div class="is-divider"
                        style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;"></div>

                    <div>
                        <p class="is-small">
                            {{ site.Params.description }}
                        </p>
                    </div>



                    <div class="is-divider"
                        style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;"></div>


                </div>
            </div>
        </div>
    </div>
</div>

</section>