<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <h1 class="title is-3">{{ .Title }}</h1>
          <div><i class="fas fa-quote-left" style="margin-right: 0.5em;"></i>{{ .Params.summary }}</div>
          <!-- <h2 class="title is-6"><i class="far fa-folder-open"
              style="margin-right: 0.5em;"></i>{{ range $cat := .Params.categories }}
            <span class="tag is-link is-light">{{$cat}}</span>
            {{ end }}</h2> -->
          <h2 class="title is-6"><i class="fas fa-tags"
              style="margin-right: 0.5em;"></i>{{ range $tag := .Params.tags }}
              <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}"><span class="tag is-warning is-light">#{{$tag}}</span></a>
            {{ end }}</h2>
          <p class="title is-6"><i class="far fa-bell" style="margin-right: 0.5em;"></i> <span class="tag is-warning is-light">{{.Params.status}}</span> </p>
        </p>
      </div>

    </div>
    <div class="media-right">

    </div>
  </article>
</div>