{{ define "title"}} {{ .Title }} {{ end }}

{{ define "style"}}
<link rel="stylesheet" href="/css/blog-post.css">
<link rel="stylesheet" href="/css/code-highlighting/dark.css">
<link rel="stylesheet" href="/css/custom.css">

<link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">

{{ end }}

{{ define "header"}} {{ partial "menu" .}}

{{ end }}

{{ define "main" }}



<div class="container" itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <section class="section">
        <div class="container">
            <article class="post">

                <header class="post-header">
                    <h2 class="title is-6 has-text-centered"><i class="far fa-folder-open"
                        style="margin-right: 0.5em;"></i>
                      <a href="/esl"><span class="tag is-link is-light">ESL</span></a>
                    </h2>
                    <h1 class="post-title has-text-centered is-size-1" itemprop="name headline">
                        {{ .Params.Title }}
                    </h1>



                </header>

                <div class="columns">
                    <div class="column is-8">

                        <div class="is-divider" data-content="SUMMARY"></div>
                        <div class="notification is-light">
                            <p>
                                {{ .Params.summary }}
                            </p>
                        </div>

                        <div class="is-divider" data-content="ARTICLE"></div>

                        <div class="content blog-post section" itemprop="articleBody">
                            {{ partial "toc" .}}
                            {{.Content}}
                        </div>

                        <p>{{ partial "post/meta" . }}</p>
                        <!-- {{ partial "post/byauthor" . }} -->

                        {{ partial "utterances-comments.html" . }}


                    </div>
                    <div class="column is-4">

                        {{ if .Params.author }}
                        <div class="is-divider" data-content="AUTHORS"></div>
                        {{ $author := .Params.author }}
                        <div class="box is-size-7">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>{{ $author }}</strong>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {{end}}

                        {{ if .Params.references }}
                        <div class="is-divider" data-content="REFERENCES"></div>
                        <article class="message">
                            <div class="message-header">
                                <p>References:</p>
                            </div>
                            <div class="message-body">
                                <ol>
                                    {{ range $ref := .Params.references }}
                                    <li><a href="{{ $ref.link }}" style="text-decoration:none;">{{ $ref.name }}</a></li>
                                    {{ end }}
                                </ol>
                            </div>
                        </article>
                        {{ end }}

                    </div>

                </div>
            </article>
        </div>
    </section>
</div>

{{ partial "nav-buttons.html" . }}

{{ end }}

{{ define "footer"}}
{{ partial "footer.html" .}}


<script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
<script>
    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 1
    });
</script> -->
{{ end }}