body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.section.blog {
    background-color: #fff;
}

.blog-post>p {
    font-size: 1.6em;
}

.blog-post>ul {
    font-size: 1.6em;
}

.blog-post>ol {
    font-size: 1.6em;
}