<div class="is-size-8">
{{ partial "refererences/references-plain" . }}
</div>

<div class="is-size-8">
{{ partial "refererences/supplementary-plain" . }}
</div>

<div id="connectome" class="is-divider" data-content="CONNECTUME"></div>


<div class="is-size-8">

    {{ $fileReference := lower (replace .File "\\" "/") }}


    {{ if isset $.Site.Params "nativebacklink" }}
        {{ if $.Site.Params.nativebacklink }}
            {{ partial "network/cards-links-from" (dict "context" . "ref" $fileReference) }}
        {{ else }}
            {{ partial "network/dynamic-backlink-multi-col" . }}
        {{ end }}
    {{ else }}
        {{ partial "network/dynamic-backlink-multi-col" . }}
    {{ end }}

</div>

<div class="is-size-8" style="margin-top: 2em;">

    {{/*  {{ partial "network/currentref" . }}  */}}

    {{ partial "network/cards-links-to-multi-col" . }}

</div>

<div class="is-size-8">
    {{ partial "network/cards-content-double-bracket-multi-col" . }}
</div>

<div class="is-size-8">
    {{ if isset $.Site.Params "localgraph" }}
        {{ if $.Site.Params.localgraph }}
            {{ partial "network/local-graph-g6" . }}
        {{ end }}
    {{ end }}
</div>



<div class="columns">


<div class="column is-12">
    {{ if eq $.Site.Params.comments.use "giscus" }}
    {{ partial "comments/giscus-comments" . }}
    {{ else if eq $.Site.Params.comments.use "utterances" }}
    {{ partial "comments/utterances-comments.html" . }}
    {{ end }}
</div>

</div>

<div class="columns">
<div class="column is-12">

    <div class="is-divider" data-content="Cite"></div>
    {{ partial "profile/citethis.html"  . }}


</div>


</div>

