<div class="columns">
    <div class="column is-12">
        {{ if .Params.notify }}
        <div class="is-divider" data-content="NOTIFICATION"></div>
        <div class="notification is-warning is-light">
            <p>
                {{ .Params.notify | markdownify }}
            </p>
        </div>
        {{ end }}

        {{ if .Params.summary }}
        <div class="is-divider" data-content="SUMMARY"></div>
        <div class="notification is-light">
            <p>
                {{ .Params.summary | markdownify }}
            </p>
        </div>
        {{ end }}

        <div class="is-divider" data-content="ARTICLE"></div>

        <div class="content blog-post section" itemprop="articleBody">
            <!-- {{ partial "toc" .}} -->
            {{.Content}}
        </div>

        <p>{{ partial "post/meta" . }}</p>

        <!-- {{ partial "post/byauthor" . }} -->


    </div>
</div>