<div class="card">
    <div class="card-image">
        <a href="{{ .Permalink }}">
            <figure class="image">
                {{ if (isset .Params "images")}}
                {{ $cardimage := index (.Params.images) 0}}

                {{ if (fileExists (printf "static%s" $cardimage)) }}
                <img src="{{ $cardimage }}" style="max-height: 200px;" alt="{{.Title}}">
                {{ else }}
                {{ $cardimagedefault := "/img/projects/default.svg"}}
                <img src="{{$cardimagedefault}}" style="max-height: 200px;" alt="{{.Title}}">
                {{ end }}
                {{else}}
                {{ $cardimage := "/img/projects/default.svg"}}
                <img src="{{$cardimage}}" style="max-height: 200px;" alt="{{.Title}}">
                {{ end }}
            </figure>
        </a>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <a href="{{ .Permalink }}">
                    <p class="title is-4">{{.Title}}</p>
                </a>
            </div>
        </div>

        <div class="content">

            <p>
                <!-- <div class="tags">
                    {{ range $cat := .Params.categories }}
                    <a href="{{ "/categories/" | relLangURL }}{{ $cat | urlize }}"><span class="tag is-link is-light">[ {{$cat}} ]</span></a>
                    {{ end }}
                </div> -->
                <div class="tags is-small" style="min-height: 5em;">
                    {{ range $tag := .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}"><span class="tag is-warning is-small is-light" style="margin-right: 0.5em">#{{$tag}}</span></a>
                    {{ end }}
                </div>
            </p>

            <div class="is-divider"
                style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;">
            </div>
            <p style="min-height: 5em;">{{ .Params.summary }}</p>
            <div class="is-divider"
                style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;">
            </div>

            <div class="">
                Status: <span>{{ .Params.status }}</span>
            </div>
            <!-- <time datetime="{{.Lastmod}}">{{.Lastmod}}</time> -->
        </div>
    </div>

</div>