<aside class="menu">
    <!-- <p class="menu-label">
        Categories
    </p>
    <div class="field is-grouped is-grouped-multiline">
        {{ range .Site.Taxonomies.categories }}
        <div class="control">
            <div class="tags has-addons">
                <a href="{{ .Page.Permalink }}" class="tag is-link is-light">{{ .Page.Title }}</a>
                <a href="{{ .Page.Permalink }}" class="tag">{{ .Count }}</a>
            </div>
        </div>
        {{ end }}
    </div> -->
    <p class="menu-label">
        Tags
    </p>
    <div class="field is-grouped is-grouped-multiline">
        {{ range .Site.Taxonomies.tags }}
        <div class="control">
            <div class="tags has-addons">
                <a href="{{ .Page.Permalink }}" class="tag is-warning is-light">{{ .Page.Title }}</a>
                <a href="{{ .Page.Permalink }}" class="tag">{{ .Count }}</a>
            </div>
        </div>
        {{ end }}
    </div>
</aside>