/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* preview--card text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 300px;
  max-width: 400px;
  max-height: 500px;
  overflow: hidden;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 6px;
  border-color: ;
  border: 1px solid black;
  line-height: 1.2;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* left: 0 ; right: 0; bottom: 0; */
  top: 125%;
  left: 50%;
  margin-left: -150px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext > .tooltip_title {
  font-size: 80%;
  background-color: black;
  color: white;
  display: block;
  padding: 7px 10px 7px 10px;
}

.tooltip_content {
  font-size: 75%;
  display: block;
  padding: 5px 10px 5px 10px;
}

/* Tooltip arrow */
/* .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  display: block;
  visibility: visible;
  opacity: 1;
}