{{ define "title"}} {{ .Title }} {{ end }}

{{ define "style"}}
<link rel="stylesheet" href="/css/blog-post.css">
<link rel="stylesheet" href="/css/code-highlighting/dark.css">
<link rel="stylesheet" href="/css/custom.css">


{{ partial "extensions/plotlyjs.html" . }}
{{ end }}

{{ define "header"}} {{ partial "menu" .}}
{{ end }}

{{ define "main" }}

<div class="container" itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <section class="section">
        <div class="container">
            <article class="post">

                {{ partial "post/header" . }}

                {{ partial "post/content" . }}

                {{ partial "layouts/cards-below-article" . }}


                {{ partial "post/next-prev" . }}

            </article>
        </div>
    </section>
</div>

{{ partial "nav-buttons.html" . }}

{{ end }}

{{ define "footer"}}
{{ if .Params.charts }}
{{ partial "extensions/plotly.html" . }}
{{ end }}
{{ partial "footer.html" .}}

{{ partial "extensions/applausebutton.html" . }}

{{ end }}