.njg-overlay{
    background: #fbfbfb;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #6d6357;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    height: auto;
    max-width: 400px;
    min-width: 200px;
    padding: 15px 15px;
    right: 40%;
    top: 10px;
    width: auto;
    /* visibility:hidden; */
}

.njg-metadata{
    background: #fbfbfb;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #6d6357;
    display: none;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 14px;
    height: auto;
    left: 10px;
    max-width: 500px;
    min-width: 200px;
    padding: 0 15px;
    top: 10px;
    width: auto;
}

.njg-node{
    fill: #fbfbfb;
    fill-opacity: 0.8;
    stroke-opacity: 0.5;
    stroke-width: 5px;
    stroke: red;
}

.njg-node:hover,
.njg-node.njg-open {
    stroke: rgba(0, 0, 0, 0.2);
}

.njg-hidden {
    display: none !important;
    visibility: hidden !important;
}

.njg-tooltip{
    font-family: sans-serif;
    font-size: 12px;
    fill: #333;
    opacity: 0.7;
    text-anchor: middle;
}

.njg-link {
    stroke: #777;
    stroke-width: 5;
    stroke-opacity: .5;
    cursor: pointer;
}
.njg-link:hover,
.njg-link.njg-open{
    stroke-width: 7;
    stroke-opacity: 1
}

.njg-overlay{
    /* display: none; */
    position: absolute;
    z-index: 11;
}

.njg-close{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
.njg-close:before { content: "\2716"; }

.njg-metadata{
    display: none;
    position: absolute;
    z-index: 12;
}

.njg-node{ cursor: pointer }
.njg-link{ cursor: pointer }

#njg-select-group {
    text-align: center;
    box-shadow: 0 0 10px #ccc;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    margin-top: -7.5em;
    margin-left: -25%;
    padding: 5em 2em;
}

#njg-select-group select {
    font-size: 2em;
    padding: 10px 15px;
    width: 50%;
    cursor: pointer;
}

#njg-select-group option {
    padding: 0.5em;
}

#njg-select-group option[value=""] {
    color: #aaa;
}
