<div class="column is-full-desktop" itemscope itemtype="http://schema.org/CreativeWork">
    <h1 class="blog-timestamp">
        {{ if eq .Type "post" }}
        <h1 class="">
        {{ partial "post/meta" . }}
        </h1>
        {{ end }}
    </h1>
    <h1 class="title">
        {{if .Params.weight }} <sup>{{.Params.weight}}</sup> {{end}}<a href="{{ .Permalink }}" itemprop="headline">{{ .Title }}</a>
    </h1>
    {{if .Params.tags }}
    <div class="tags is-small">
        {{ range $tag := .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}" style="margin-right: 0.5em;"><span class="tag is-warning is-small is-light">#{{$tag}}</span></a>
        {{ end }}
    </div>
    {{ end }}
    {{ if .Description }}
    <blockquote itemprop="about">{{ .Description }}</blockquote>
    {{ else }}
    <!-- <h2 class="content" itemprop="description"> -->
    <blockquote itemprop="about">
        {{ .Summary }}
    </blockquote>
    <!-- </h2> -->
    {{ end }}
</div>

<div class="is-divider" style="border-top:.05rem dashed #dbdbdb !important; margin: 1em 0 1em 0!important;"></div>