<nav class="pagination has-text-centered" role="navigation" aria-label="pagination">
        {{if .Paginator.HasPrev }}
        <a class="button is-primary" href="{{ .Paginator.Prev.URL }}">
            <span class="icon is-small">
        <i class="fa fa-angle-double-left"></i>
      </span>
            <span>Previous</span>
        </a>
        {{ end }}

        {{ if gt .Paginator.TotalPages 0 }}
        <a class="button is-outlined is-primary">
           Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
        </a>
        {{ end }}


        {{ if .Paginator.HasNext }}
        <a class="button is-primary" href="{{ .Paginator.Next.URL }}">
            <span class=" icon is-small ">
        <i class="fa fa-angle-double-right "></i>
      </span>
            <span>Next</span>
        </a>
        {{ end }}

</nav>