{{ if .Params.references }}
<div class="is-divider" data-content="REFERENCES"></div>
<div class="box is-size-7">
    <article class="media">
        <div class="media-content" style="width: 100%;word-break: break-word;">
            <div class="content">
                <p>
                    <strong><i class="fa-solid fa-quote-left"></i> References: </strong><br>
                    <ol>
                        {{ range $ref := .Params.references }}
                        <li class="has-text-weight-bold">{{ if $ref.key }}
                            <a name="{{ $ref.key }}" href="#{{ $ref.key }}" style="text-decoration:none;">
                                <span class="tag is-link is-light">{{$ref.key}}</span>
                            </a>
                            {{ end }}<a href="{{ $ref.link }}" style="text-decoration:none;">{{ $ref.name }}</a></li>
                        {{ end }}
                    </ol>
                </p>
            </div>
        </div>
    </article>
</div>
{{ end }}