<div id="comments" class="is-divider" data-content="COMMENTS">
</div>

<script src="https://giscus.app/client.js"
    data-repo="{{ .Site.Params.comments.giscus.repo }}"
    data-repo-id="{{ .Site.Params.comments.giscus.repo_id }}"
    data-category="{{ .Site.Params.comments.giscus.category }}"
    data-category-id="{{ .Site.Params.comments.giscus.category_id }}"
    data-mapping="pathname"
    data-reactions-enabled="1"
    data-emit-metadata="1"
    data-theme="light"
    crossorigin="anonymous"
    async>
</script>
